<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>977584553853-mjgnqbm9132kamfjbtoni5qf3g6nr234.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977584553853-mjgnqbm9132kamfjbtoni5qf3g6nr234</string>
	<key>API_KEY</key>
	<string>AIzaSyDIpHhWaZsrtM6Vym1DIoyZQYbdAhexAFE</string>
	<key>GCM_SENDER_ID</key>
	<string>977584553853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mshayanh13.PushMyNotifs</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-26ec3</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-26ec3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:977584553853:ios:dc148e0a250dc6c8</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-26ec3.firebaseio.com</string>
</dict>
</plist>